<h2> Users List</h2>
<table class = "table table-striped">
  <thead>
  <tr>
    <th> userId</th>
    <th> id </th>
    <th> title</th>
    <th> completed </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let user of users" >
    <td> {{ user.userId }} </td>
    <td> {{ user.id }} </td>
    <td> {{ user.title }} </td>
    <td> {{ user.completed }} </td>
    <td>
      <button (click) = "updateUser(user.id)" class = "btn btn-info"> Update</button>
      <button (click) = "deleteUser(user.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
      <button (click) = "userDetails(user.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
    </td>
  </tr>
  </tbody>
</table>
